#canvas{
    background-color: #C0C0C0;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline;
    margin:auto;
}

body{
    background-color: lightgreen;
    margin-top: 17%;
    overflow: hidden;
    text-align: center;
    font-family: Verdana;
}

#button{
    align-content: center;
    margin: auto;
    width: 130px;
    height: 32px;
    font-size: 140%;
}